{% extends "base.html" %}

<!-- {% block content %}

{% endblock content %} -->

{% block body %}
<body id="sign-in-page">
  <a href="{{ url_for('main.home') }}"> BACK TO ROOms PAGE</a>
<div class="l-form">
  <div class="shape1"></div>
  <div class="shape2"></div>
  <div class="create-form">
    <!-- <img class="form-img" src="{{ url_for('static', filename= 'img/login-img.svg')}}" alt=""> -->

    <form class="form-content" action="" method="POST">
      {{ form.hidden_tag() }}
      <h1 class="form-title"> {{ legend }} </h1>

      <div class="form-div form-div-signup">
        <div class="form-icon">
          <i class="far fa-envelope"></i>
        </div>
        <div class="form-div-input">
          {{ form.title.label(class="form-label") }}
          {% if form.title.errors %}
            {{ form.title(class="form-input is-invalid ") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
              <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
          {{ form.title(class="form-input") }}
          {% endif %}
        </div>

      </div>


      <div class="form-div form-div-signup">
        <div class="form-icon">
          <i class="fas fa-lock"></i>
        </div>
        <div class="form-div-input">
        {{ form.description.label(class="form-label") }}
        {% if form.description.errors %}
          {{ form.description(class="form-input is-invalid ") }}
          <div class="invalid-feedback">
            {% for error in form.description.errors %}
            <span> {{error}} </span>
            {% endfor %}
          </div>
        {% else %}
        {{ form.description(class="form-input") }}
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      {{ form.submit(class="form-button") }}
    </div>
    </form>
  </div>

</div>
{% endblock body %}
