{% extends 'tutlayout.html' %}

{% block content %}
<h1 class="mb-3"> Posts by {{user.username}} ({{posts.total}})</h1>

  {% for post in posts.items %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'img/' + post.room_creator.image_file) }}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2"  >{{ post.room_creator.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('rooms.room',room_id=post.id)}}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.description }}</p>
      </div>
  </article>
  {% endfor%}
  {% for page_num in posts.iter_pages() %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('users.user_rooms', username=user.username, page=page_num) }}">{{ page_num }}</a>
      {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_rooms', username=user.username, page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor%}
{% endblock content%}
